/* Created by: Mark Palfi
* Created on: Mar 2022
* This file contains the CSS for index.html
*/

body {
  background-color: powderblue;
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}

p {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12rem;
  padding-top: 15pt;
}
